[package]
name = "undermoon"
version = "0.3.0-alpha.1"
authors = ["doyoubi"]
edition = "2018"

[[bin]]
name="server_proxy"
path="src/bin/server_proxy.rs"

[[bin]]
name="coordinator"
path="src/bin/coordinator.rs"

[[bin]]
name="mem_broker"
path="src/bin/mem_broker.rs"

[dependencies]
bytes = "0.5.4"
tokio = { version = "0.2.11", features = ["full"] }
tokio-util = { version = "0.2", features = ["full"] }
futures = "0.3.4"
futures-timer = "3.0.1"
atomic-option = "0.1"
crc16 = "0.4.0"
crc64 = "1.0.0"
caseless = "0.2.1"
arc-swap = "0.3.11"
reqwest = { version = "0.10.1", features = ["json"] }
serde = "1.0"
serde_derive = "1.0.88"
serde_json = "1.0"
log = "0.4"
env_logger = "0.6.0"
scopeguard = "1.0.0"
itertools = "0.8.0"
futures-batch = "0.6.0"
config = "0.9"
btoi = "0.4.2"
crossbeam = "0.7.1"
crossbeam-channel = "0.4"
actix-web = "2.0"
actix-http = "1.0.1"
actix-rt = "1.0"
chrono = "0.4"
atoi = "0.3.1"
zstd = "0.4"
memchr = "2.3.0"
pin-project = "0.4"
string-error = "0.1.0"
matches = "0.1.8"
dashmap = "3.4.4"
coarsetime = "0.1"
arrayvec = "0.5.1"
either = "1.5.3"
mockall = "0.6.0"
backtrace = "0.3"

[profile.release]
debug = true
lto = true
