[package]
name = "undermoon"
version = "0.1.0"
authors = ["doyoubi"]

[dependencies]
tokio = "0.1"
tokio-core = "0.1"
futures = "0.1.23"
atomic-option = "0.1"
crc16 = "0.4.0"
caseless = "0.2.1"
arc-swap = "0.3.7"
reqwest = "0.9.9"
serde = "1.0"
serde_derive = "1.0.88"
serde_json = "1.0"
log = "0.4"
env_logger = "0.6.0"
scopeguard = "1.0.0"
itertools = "0.8.0"

[profile.release]
debug = true
